.photo-grid {
  max-width: 1184px;
  margin: 92px auto 92px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
  align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid  {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
    gap: 14px;
    
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid  {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
    gap: 16px;
    margin: 88px 24px 88px 24px;
  }
  
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-grid  {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
    gap: 12px;
    margin: 64px 16px 64px 16px;
  }
  
}