.lead__title {
  max-width: 720px;
  max-height: 200px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;

  color: #FFFFFF;
}