.menu__item {
  margin-right: 20px;
  align-items: center;
  padding-top: 18px;

}

.menu__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .menu__item {
    padding-top: 13px;
  }
}