.menu__item {
  align-items: center;
  margin-right: 20px;
  margin-top: 18px;

}

.menu__item:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu__item {
    margin-top: 12px;
  }
  
}