.intro {
  max-width: 690px;
  max-height: 429px;
  margin: 0 442px 0 auto;
  text-align: left;
  /* margin-left: auto;
  margin-bottom: 92px;
  padding-right: 442px; */

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    margin-right: 286px;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    margin-right: auto;
  }
  
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    max-height: 754px;
    margin-right: auto;
  }
  
}