.intro {
  max-width: 690px;
  margin: 0 442px 0 auto;
  text-align: left;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    margin-right: 286px;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    margin-right: auto;
  }
  
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    margin-right: auto;
  }
  
}