.lead__caption {
  display: inline-block;
  min-width: 158px;
  min-height: 14px;
  margin: 8px auto 92px 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1,14;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
 
}