.cover__title {
  margin: 0 312px 32px 312px;
  padding-top: 245px;
  max-width: 560px;
  height: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
    margin-left: 232px;
    margin-right: 232px;
    padding-top: 195px;
       
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
    margin-left: 104px;
    margin-right: 104px;
    padding-top: 115px;
  }
  
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    margin: 0 16px 16px 30px;
    padding-top: 33px;
    max-width: 255px;
    font-size: 32px;
    line-height: 1.09;
    
  }
}